doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title #{subject}
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style
    include _style.css

// start preheader
.preheader(style='display: none; max-width: 0; max-height: 0; overflow: hidden; font-size: 1px; line-height: 1px; color: #fff; opacity: 0;') Follow the link to reset your Password.
// end preheader

// start body
table(border='0' cellpadding='0' cellspacing='0' width='100%')

  // start logo
  tr
    td(align='center' bgcolor='#e9ecef')
      //
        if (gte mso 9)|(IE)table(align='center', border='0', cellpadding='0', cellspacing='0', width='600')
        tr
        td(align='center', valign='top', width='600')
      table(border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 600px;')
        tr
          td(align='center' valign='top' style='padding: 36px 24px;')
            a(href=home_page, target='_blank', style='display: inline-block;')
              img(src=logo alt='Logo' border='0' width='192' style='display: block; width: 192px; max-width: 192px; min-width: 192px;')
      // if (gte mso 9)|(IE)
  // end logo

  // start hero
  tr
    td(align='center' bgcolor='#e9ecef')
      //
        if (gte mso 9)|(IE)table(align='center', border='0', cellpadding='0', cellspacing='0', width='600')
        tr
          td(align='center', valign='top', width='600')
        table(border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 600px;')
        tr
          td(align='left' bgcolor='#ffffff' style="padding: 36px 24px 0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf;")
            h1(style='margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;') Did you forget you password?
      // if (gte mso 9)|(IE)
  // end hero

  // start copy block
  tr
    td(align='center' bgcolor='#e9ecef')
      //
        if (gte mso 9)|(IE)table(align='center', border='0', cellpadding='0', cellspacing='0', width='600')
        tr
        td(align='center', valign='top', width='600')
      table(border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 600px;')

        // start copy
        tr
          td(align='left' bgcolor='#ffffff' style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;")
            p(style='margin: 0;')
              | Tap the button below to reset your account&apos;s password. If you didn&apos;t request a new password, you can safely delete this email.
        // end copy

        // start button
        tr
          td(align='left' bgcolor='#ffffff')
            table(border='0' cellpadding='0' cellspacing='0' width='100%')
              tr
                td(align='center' bgcolor='#ffffff' style='padding: 12px;')
                  table(border='0' cellpadding='0' cellspacing='0')
                    tr
                      td(align='center' bgcolor='#1a82e2' style='border-radius: 6px;')
                        a(href=link, target='_blank', style="display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px;") Reset Your Password
        // end button

        // start copy
        tr
          td(align='left' bgcolor='#ffffff' style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;")
            p(style='margin: 0;') If that doesn&apos;t work, copy and paste the following link in your browser:
            p(style='margin: 0;') #{link}
        // end copy
        // start copy
        tr
          td(align='left' bgcolor='#ffffff' style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf;")
            p(style='margin: 0;')
              | Cheers,
              br
              |  DeSIC Network
        // end copy

      // if (gte mso 9)|(IE)
  // end copy block

  // start footer
  tr
    td(align='center' bgcolor='#e9ecef' style='padding: 24px;')
      //
        if (gte mso 9)|(IE)table(align='center', border='0', cellpadding='0', cellspacing='0', width='600')
        tr
        td(align='center', valign='top', width='600')
      table(border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 600px;')

        // start permission
        tr
          td(align='center' bgcolor='#e9ecef' style="padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;")
            p(style='margin: 0;')
              | You received this email because we received a request for your account. If you didn&apos;t request you can safely delete this email.
        // end permission

        // start unsubscribe
        tr
          td(align='center' bgcolor='#e9ecef' style="padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;")
            //
              <p style="margin: 0;">To stop receiving these emails, you can <a href="https://sendgrid.com" target="_blank">unsubscribe</a> at any time.</p>
              <p style="margin: 0;">Paste 1234 S. Broadway St. City, State 12345</p>
              </td>
              </tr>

            // end unsubscribe

      // if (gte mso 9)|(IE)
  // end footer

// end body
